*{
    padding: 0;
    margin: 0;
    list-style: none;
    box-sizing: border-box;
}
body{
    margin-left:100px;
    font-family: 'Roboto', sans-serif;
}



.navbar{
    
    height: 80px;
    width: 100%;
}

.navbar ul{
    float: right;
    margin-right: 70px;
    padding-right: 100px;
    
}
.navbar ul li{
    display: inline-block;
    line-height: 120px;
    margin:0 30px;
    
}
.navbar ul li a{
    text-decoration: none;
    color:black;
}
section{
    height: 500px;
}

.color-highlight{
    color:crimson;
}
h1{
    font-size: 50px;
    margin-top:60px ;
    font-family: 'Bebas Neue', cursive;
    
   
   
    
}
h2{
    font-size:45px ;
    margin-bottom:20px;
    font-family: 'Bebas Neue', cursive;
}
p{
    color:dimgray;
    margin-bottom:20px;
}
.half-width{
    width: 348px;
    height: 160px;
    left:135px;

color: #363958;

float: left;
margin-left: 5%;
padding-left:5%;
    
    
}
.half-width img{
    width:100%;
   
 margin-top: 40px;
    
    
}
.link-button{
    text-decoration: none;
    background-image: linear-gradient(180deg, #F96F61, CRIMSON);
    padding:10px 20px;
    border-radius: 6px;
    color:white;
    font-weight: 700;

}
